configuration.name="Liferay\ Elm\ -\ Fetch\ Virtual\ Instances"
enabled="true"
filter.mapping.url.pattern=[ \
  "/o/headless-portal-instances/v1.0/portal-instances", \
  ]
headers=[ \
  "Access-Control-Allow-Credentials:\ true", \
  "Access-Control-Allow-Headers:\ *", \
  "Access-Control-Allow-Methods:\ GET", \
  "Access-Control-Allow-Origin:\ http://localhost:3000", \
  ]
